@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
}

<div class="container body-content">
    <div class="row justify-content-center">
        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xl-5">
            <h1 class="text-center">@ViewBag.Title</h1>
            <p>
                Chúng tôi đã gửi 1 link reset vào email bạn đã đăng kí. Hãy kiểm tra để đặt lại mật khẩu cho tài khoản của bạn.
            </p>
        </div>
    </div>
</div>


