@{
    ViewBag.Title = "Xác nhận quên mật khẩu";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Chúng tôi đã gửi 1 link reset vào email bạn đã đăng kí. Hãy kiểm tra để đặt lại mật khẩu cho tài khoản của bạn.
    </p>
</div>
	
