body {
    margin: 0;
    font-family: Lato,sans-serif;
    background-color: #edf0f0;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    display: flex
}

.radio label, .checkbox label {
    padding-left: 0px;
}

.btn-dark {
    color: #fff;
    background-color: #21272e;
    border-color: #1c2127;
}

    .btn-dark:hover {
        color: #fff;
        background-color: #262d36;
        border-color: #21272e;
    }